<!DOCTYPE html>
<html>

<head>
  <title>OAuth2Orize Recipes Login</title>
  <!-- Needed for mobile sites to work -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <!-- Style sheets -->
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/pure-min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/base.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/sign-in-modules.css"> -->
</head>
<body>

<!-- HTML login screen form -->
<form action="/oauth2/login" method="post" class="pure-form pure-form-stacked">
  <fieldset>
    <!-- Upper box with Title, email, and password -->
    <div class="upper-box">
      <!-- Title -->
      <div>
        <h1 class="title-padding">Authorization Server</h1>
      </div>
      <div class="pure-control-group">
        <!-- Email label and input -->
        <label class="labels" for="name">Email:</label>

        <div class="input-fields">
          <input class="pure-input-1 input-fields" id="name" type="text" placeholder="Hint: misha@misha.misha" name="email"/>
        </div>
      </div>
      <div class="pure-control-group">
        <!-- Password label and input -->
        <label class="labels" for="password">Password:</label>

        <div class="input-fields">
          <input class="pure-input-1 input-fields" id="password" type="password" placeholder="Hint: misha"
                 name="password"/>
        </div>
      </div>
    </div>
    <!-- Bottom box with Sign in -->
    <div class="bottom-box">
      <div class="pure-controls sign-in-button">
        <button type="submit" value="Submit" class="pure-button pure-button-primary">Sign in</button>
      </div>
    </div>
  </fieldset>
</form>

</body>
</html>